<!-- Screenshots -->
<div class="slider-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Démos</h2>
                <hr class="hr-heading">
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider">
                        <div class="swiper-wrapper">
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/article_header_dark.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/article_header_dark.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/article_bottom.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/article_bottom.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/article_bottom_dark.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/article_bottom_dark.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="/assets/images/demos/categories_tags_page.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="/assets/images/demos/categories_tags_page.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/categories_tags_page_dark.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/categories_tags_page_dark.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/home_offline.png" class="popup-link" data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/home_offline.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/home_offline_dark.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/home_offline_dark.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/search_article.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/search_article.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/settings_data_usage.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/settings_data_usage.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <a href="assets/images/demos/settings_general_start.png" class="popup-link"
                                   data-effect="fadeIn">
                                    <img class="img-fluid" src="assets/images/demos/settings_general_start.png"
                                         alt="alternative">
                                </a>
                            </div>
                            <!-- end of slide -->
                        </div>
                        <!-- end of swiper-wrapper -->
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->
                    </div>
                    <!-- end of swiper-container -->
                </div>
                <!-- end of slider-container -->
                <!-- end of image slider -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of slider-2 -->
<!-- end of screenshots -->