<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-container">
                <h3>
                    Toute notre expertise dans une application mobile qui vous permet de permet de regrouper au
                    même endroit vos principales sources d'informations.
                </h3>
                <br><br>
                <a hidden class="btn-solid-lg" href="#"><i class="fab fa-apple"></i>For iOS</a>
                <a class="btn-solid-lg" href="/">
                    <i class="fab fa-google-play"></i>
                    My News
                </a>
            </div>
            <!-- end of text-container -->
        </div>
        <!-- end of col -->
        <div class="col-lg-6">
            <div class="image-container">
                <img class="img-fluid" src="assets/images/demos/download.png" alt="alternative">
            </div>
            <!-- end of image-container -->
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
</div>
<!-- end of container -->